<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/stylesheets/grid_style.css">
    </head>
    <body>
        <!-- <h1>ΜΝΗΜΕΙΑ</h1> -->
        <div class="container">
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Acropole.html'">
                <div class="imgbox">
                    <img src="../assets/images/Acropole.jpg" alt="">
                </div>
                <h1>ΑΚΡΟΠΟΛΗ</h1>
                <p>Αρχαία ακρόπολη στην Αθήνα</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Agia_Sofia.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Agia_Sofia.jpg" alt="">
                </div>
                <h1>ΑΓΙΑ ΣΟΦΙΑ</h1>
                <p>Χριστιανικός ναός στην Κωνσταντινούπολη</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Notre_Dame.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Notre_Dame.jpg" alt="">
                </div>
                <h1>ΠΑΝΑΓΙΑ ΤΩΝ ΠΑΡΙΣΙΩΝ</h1>
                <p>Καθεδρικός ναός στο Παρίσι της Γαλλίας</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Mecca.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Mecca.jpg" alt="">
                </div>
                <h1>ΜΕΚΚΑ</h1>
                <p>Πόλη της Σαουδικής Αραβίας</p>
            </div>
        </div>
    <div class="container">
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Bagan.html'">
                <div class="imgbox">
                    <img src="../assets/images/Bagan_temple.jpg" alt="">
                </div>
                <h1>ΜΠΑΓΚΑΝ</h1>
                <p>Αρχαία πόλη</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Machu_Pichu.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Machu_Pichu.jpg" alt="">
                </div>
                <h1>ΜΑΤΣΟΥ ΠΙΤΣΟΥ</h1>
                <p>Μνημείο Παγκόσμιας Κληρονομιάς στο Περού</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Petra.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Petra.jpg" alt="">
                </div>
                <h1>ΠΕΤΡΑ ΙΟΡΔΑΝΙΑΣ</h1>
                <p>Πόλη της Ιορδανίας λαξευμένη σε βράχο</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Giza_Pyramid_Complex.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Giza_pyramid.jpg" alt="">
                </div>
                <h1>ΠΥΡΑΜΙΔΕΣ ΤΗΣ ΓΚΙΖΑΣ</h1>
                <p>Το μόνο από τα 7 θαύματα του αρχαίου κόσμου που σώζεται μέχρι σήμερα</p>
            </div>
        </div>
        <div class="container">
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Sagrada_Familia.html'">
                <div class="imgbox">
                    <img src="../assets/images/Sagrada_Familia.jpg" alt="">
                </div>
                <h1>ΣΑΓΡΑΔΑ ΦΑΜΙΛΙΑ</h1>
                <p>Μεγάλη ρωμαιοκαθολική εκκλησία στη Βαρκελώνη της Καταλονίας</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Taj_Mahal.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Taj_Mahal.jpg" alt="">
                </div>
                <h1>ΤΑΖ ΜΑΧΑΛ</h1>
                <p>Μαυσωλείο στην Ινδία</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Tibet.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/Tibet.jpg" alt="">
                </div>
                <h1>ΘΙΒΕΤ</h1>
                <p>Αυτόνομη περιοχή στο Θιβέτ της Κίνας</p>
            </div>
            <div class="box" style="cursor: pointer;" onclick="location.href='https://dionisiskon.github.io/heritage-promotion/pois/Angkor_Wat.html'">
                <div class="imgbox">
                <script src="" async defer></script>
                    <img src="../assets/images/AngkorWat.jpg" alt="">
                </div>
                <h1>ΑΝΓΚΟΡ ΒΑΤ</h1>
                <p>Ινδουϊστικό/Βουδιστικό συγκρότημα νάων στην Καμπότζη</p>
            </div>
        </div>
    </body>
</html>
